<html>
<head>
	<!-- Velocity directive to include our js, css, and images folders from the Web Resource defined in atlassian-plugin.xml -->
    $webResourceManager.requireResourcesForContext("sprint-report")
</head>
<body>
    <table class="aui"><!-- The aui class is what makes the table look nice-->
        <tbody>
                <tr>
                    <th>Sprint</th>
                    <th>Author</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
                #foreach($row in $results)
                    <tr>
                        <th>$row.get("sprint")</th>
                        <th>$row.get('author')</th>
                        <th>$row.get("timeworked")</th> 
                        <th>$row.get("date")</th>  							
                    </tr>
                #end
        </tbody>
    </table>
</body>
</html>