<div><!--It would be nice to style an error box for if something goes wrong here -->
	<h3>User Times</h3>
	<h2>
		<ol>
			#foreach ($userTime in $userTimes)
				<li>$userTime.getName() : $userTime.getTime()</li>
			#end
		</ol>
	</h2>
</div>