<html>
    <head>
        $webResourceManager.requireResourcesForContext("sprint-report")
    <head>
    <body>
            <div><!-- I would love to use the index of this loop to assign id's on my sprint divs-->
                #foreach ($sprint in $sprints)
                    <div name="sprint" onclick="expandOrCollapse(${velocityCount})"><!-- Not sure if this is zero or 1 based -->
                        <h1 id="sprint">$sprint.getName()<h1>
                    </div>
                    <ol>
                        #foreach ($userTime in $sprint.getUserTimes())
                            <li>$userTime.getName() : $userTime.getTime()</li>
                        #end
                    </ol>
                #end
            </div>             
    </body>
</html>